@model IEnumerable<Ecommerce.Models.HistoricoCompras>
@{
    ViewBag.Title = "Compras";
}

<h2>Index</h2>

Lista de Compras

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Lista de Compras
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Usuario.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Produto.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Categoria.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataPedido)
                        </th>
              
                    </tr>
                </thead>

                <tbody>
                    @foreach (var historico in Model)
                    {
                        <tr>
                            <td>
                                @historico.Usuario.Nome
                            </td>

                            <td>
                                @historico.Produto.Nome
                            </td>
                            <td>
                                @historico.Categoria.Nome
                            </td>
                            <td>
                                @historico.DataPedido
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
